In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import bs4

headers={'User-Agent': 'Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405'}

In [2]:
url = 'https://www.tripadvisor.com/Hotels-g55711-Dallas_Texas-Hotels.html'

session = requests.get(url, headers=headers)
page = bs4.BeautifulSoup(session.text, "html.parser")

containing_div = page.find('div', id='taplc_hsx_hotel_list_lite_dusty_hotels_combined_sponsored_0')

In [3]:
# grab Hotel names from page
hotels = []

for div in containing_div.find_all('div', class_='listing-title'):
    hotels.append(div.find('a', class_='property_title').text)

In [4]:
hotels

['Lorenzo Hotel',
 'Hyatt Regency Dallas',
 'La Quinta Inn & Suites by Wyndham Dallas - Addison Galleria',
 'Magnolia Hotel Dallas-Park Cities',
 'Hyatt Regency DFW',
 'Fairmont Dallas',
 'Hotel Indigo Dallas Downtown',
 'Hampton Inn & Suites Dallas Downtown',
 'Hotel Indigo Dallas Downtown',
 'The Westin Dallas Park Central',
 'Omni Dallas Hotel',
 'La Quinta Inn & Suites by Wyndham Dallas Love Field',
 'Magnolia Hotel Dallas Downtown',
 'Omni Dallas Hotel at Park West',
 'Cooper Hotel Conference Center & Spa',
 'Warwick Melrose - Dallas',
 'Days Inn by Wyndham Market Center Dallas Love Field',
 'Hyatt Place Dallas / Park Central',
 'The Guild Uptown',
 'AC Hotel by Marriott Dallas Downtown',
 'Canvas Hotel Dallas',
 'Hotel ZaZa Dallas',
 'Grand Hyatt DFW',
 'Guild Victory Park',
 'The Highland Dallas, Curio Collection by Hilton',
 'Candlewood Suites - Dallas Market Center',
 'Hotel Crescent Court',
 'The Joule, Dallas',
 'Residence Inn by Marriott Dallas Downtown',
 'The Lumen',
 'Hilton Garden Inn Downtown Dallas',
 'W Dallas - Victory']

In [5]:
# grab Hotel prices from page
prices = []
for div in containing_div.find_all('div', class_='price-wrap'):
    for price in div.find_all('div', class_='price'):
        prices.append(price.text)

In [6]:
prices

['$119',
 '$138',
 '$72',
 '$109',
 '$143',
 '$143',
 '$119',
 '$98',
 '$135',
 '$84',
 '$197',
 '$89',
 '$138',
 '$116',
 '$134',
 '$138',
 '$76',
 '$76',
 '$123',
 '$109',
 '$142',
 '$230',
 '$204',
 '$147',
 '$134',
 '$77',
 '$229',
 '$219',
 '$149',
 '$129',
 '$156',
 '$199']

In [7]:
len(prices)

32

In [8]:
hotels_df = pd.DataFrame({'hotel_name': hotels, 'room_price': prices})
hotels_df.head()

                                          hotel_name room_price
0                                      Lorenzo Hotel       $119
1                               Hyatt Regency Dallas       $138
2  La Quinta Inn & Suites by Wyndham Dallas - Add...        $72
3                  Magnolia Hotel Dallas-Park Cities       $109
4                                  Hyatt Regency DFW       $143

In [9]:
hotels_df.to_csv("C:/Users/kapali_s/Documents/SMU/Projects/Project_3/Project 3 Submissions/Tripadvisor Data/fileOne2.csv", index=False, header=True)

# TO DO...MAKE A LOOP'd VERSION!

In [10]:
urls = ['https://www.tripadvisor.com/Hotels-g30141-Addison_Texas-Hotels.html', 
        'https://www.tripadvisor.com/Hotels-g55711-Dallas_Texas-Hotels.html']

all_hotels = []

all_prices = []

for url in urls:

    session = requests.get(url, headers=headers)
    page = bs4.BeautifulSoup(session.text, "html.parser")
    containing_div = page.find('div', id='taplc_hsx_hotel_list_lite_dusty_hotels_combined_sponsored_0')
    
    # grab Hotel names from page
    for div in containing_div.find_all('div', class_='listing-title'):
        all_hotels.append(div.find('a', class_='property_title').text)
        
    # grab Hotel prices from page
    for div in containing_div.find_all('div', class_='price-wrap'):
        for price in div.find_all('div', class_='price'):
            all_prices.append(price.text)

In [11]:
hotels_df = pd.DataFrame({'hotel_name': hotels, 'room_price': prices})
hotels_df.head()

                                          hotel_name room_price
0                                      Lorenzo Hotel       $119
1                               Hyatt Regency Dallas       $138
2  La Quinta Inn & Suites by Wyndham Dallas - Add...        $72
3                  Magnolia Hotel Dallas-Park Cities       $109
4                                  Hyatt Regency DFW       $143

In [12]:
hotels_df.to_csv("C:/Users/kapali_s/Documents/SMU/Projects/Project_3/Project 3 Submissions/Tripadvisor Data/fileOne.csv", index=False, header=True)