In [58]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import bs4

headers={'User-Agent': 'Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405'}

In [59]:
i=1
url = 'https://www.tripadvisor.com/Hotels-g55711-oa30-Dallas_Texas-Hotels.html' 

session = requests.get(url, headers=headers)
page = bs4.BeautifulSoup(session.text, "html.parser")

containing_div = page.find('div', id='taplc_hsx_hotel_list_lite_dusty_hotels_combined_sponsored_0')

In [60]:
# grab Hotel names from page
hotels = []

for div in containing_div.find_all('div', class_='listing-title'):
    hotels.append(div.find('a', class_='property_title').text)

In [61]:
hotels

['Baymont by Wyndham Dallas/ Love Field',
 'Hyatt Regency Dallas',
 'Hampton Inn & Suites Dallas Downtown',
 'Canvas Hotel Dallas',
 'Hotel ZaZa Dallas',
 'W Dallas - Victory',
 'Holiday Inn Dallas Market Center',
 'Grand Hyatt DFW',
 'Cooper Hotel Conference Center & Spa',
 'The Joule, Dallas',
 'The Highland Dallas, Curio Collection by Hilton',
 'The Adolphus, Autograph Collection',
 'The Lumen',
 'Le Meridien Dallas, The Stoneleigh',
 'DoubleTree by Hilton Hotel Dallas - Love Field',
 'Canopy by Hilton Dallas Uptown',
 'The Ritz-Carlton, Dallas',
 'Homewood Suites by Hilton Dallas Downtown',
 'The Westin Dallas Downtown',
 'Dallas Marriott Downtown',
 'Wyndham Dallas Suites - Park Central',
 'Hyatt House Dallas/Uptown',
 'La Quinta Inn & Suites by Wyndham Dallas North Central',
 'Le Meridien Dallas by the Galleria',
 'Home2 Suites by Hilton Dallas North Park',
 'Aloft Dallas Love Field',
 'Holiday Inn Express Hotel & Suites Dallas (Galleria Area)',
 'Best Western Cityplace Inn',
 'Homewood Suites by Hilton Dallas Park Central',
 'Best Western Plus Dallas Hotel & Conference Center',
 'Rosewood Mansion on Turtle Creek',
 'Corinthian Bed & Breakfast']

In [62]:
# grab Hotel prices from page
prices = []
for div in containing_div.find_all('div', class_='price-wrap'):
    for price in div.find_all('div', class_='price'):
        prices.append(price.text)

In [63]:
prices

['$85',
 '$147',
 '$98',
 '$132',
 '$230',
 '$249',
 '$77',
 '$204',
 '$155',
 '$249',
 '$151',
 '$239',
 '$129',
 '$172',
 '$127',
 '$178',
 '$305',
 '$143',
 '$134',
 '$170',
 '$76',
 '$97',
 '$82',
 '$118',
 '$98',
 '$116',
 '$63',
 '$85',
 '$105',
 '$84',
 '$387',
 '$149']

In [64]:
len(prices)

32

In [65]:
hotels_df = pd.DataFrame({'hotel_name': hotels, 'room_price': prices})
hotels_df.head()

                              hotel_name room_price
0  Baymont by Wyndham Dallas/ Love Field        $85
1                   Hyatt Regency Dallas       $147
2   Hampton Inn & Suites Dallas Downtown        $98
3                    Canvas Hotel Dallas       $132
4                      Hotel ZaZa Dallas       $230

In [40]:
hotels_df.to_csv("C:/Users/kapali_s/Documents/SMU/Projects/Project_3/Tripadvisor Data/Data/fileOne2.csv", index=False, header=True)